@font-face {
    font-family: 'Minecraft';
    src: url('fonts/minecraft.ttf') format('truetype');
}

header {
    background-color: #333333;
    color: #ffffff;
    padding: 30px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 10px;
}

.logo h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
}

nav ul li {
    margin-left: 10px;
}

nav ul li:first-child {
    margin-left: 0;
}

header nav ul li a {
    color: white;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: rgb(204, 204, 204);
}

body {
    background-color: rgb(50, 76, 88);
    margin: 0;
    padding: 0;
    font-family: 'Minecraft', Arial, sans-serif;
}

.info-page {
    padding: 30px;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

.download-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333333;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.download-link:hover {
    background-color: #666666;
}
