/* homepage.css */

body {
    background: linear-gradient(to bottom, #9dc1f8, #6f96d1);
    font-family: Arial, sans-serif;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333333;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-left: 10px;
  }
  
  nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
  }
  
  .content {
    padding: 20px;
  }
  
  .centered {
    text-align: center;
  }
  
  .discord-widget {
    margin-bottom: 20px;
  }
  
  .speedrun-list {
    list-style-type: none;
    padding: 0;
  }
  
  .speedrun-list li {
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #333333;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .speedrun-container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .speedrun-container h2 {
    font-size: 20px;
  }

  .speedrun-container p {
    margin-top: 10px;
    font-size: 16px;
  }

  .speedrun-container ul {
    margin-top: 10px;
    list-style-type: disc;
    padding-left: 20px;
  }

  .speedrun-container li {
    font-size: 14px;
    margin-bottom: 5px;
  }